- hosts: "{{target}}"
  connection: httpapi
  gather_facts: no

  tasks:

    - name: Add or delete policy package
      cp_mgmt_package:
        state: present
        access: true
        color: blue
        comments: Policy automated through ansible and versioned in Git
        name: automation_policy
        threat_prevention: true

    - name: Add, set or delete Check Point host object
      cp_mgmt_host:
        state: present
        name: Web server
        ip_address: 10.1.1.66
        color: yellow
        comments: my blue jump host object

    - name: Add, set or delete Check Point host object
      cp_mgmt_host:
        state: present
        name: DB server
        ip_address: 10.1.2.55
        color: blue
        comments: my ubuntu host object

    - name: add-group, set or delete Check Point group object
      cp_mgmt_group:
        state: present
        name: Ansible control node group
        color: forest green

    - name: add, set, or delete Check Point access rule
      cp_mgmt_access_rule:
        state: present
        layer: automation_policy Network
        name: allow access from ansible control node
        position: 1
        source: Ansible control node group
        destination:
        - Web server
        - DB server
        service:
        - http
        action: Accept
        track:
          type: log

    - name: publish
      cp_mgmt_publish:
